<div class="home-header pure-menu pure-menu-horizontal">
  <div class="home-header-bar">
    {% comment %} Dates/Tags 归档菜单 - 页面为空时暂时隐藏
    {% if site.data.archive %}
    <ul class="home-header-menu pure-menu-list">
      {% for item in site.data.archive %}
        <li class="pure-menu-item">
          <a href="{{ item.url | relative_url }}" class="pure-menu-link {% if page.url == item.url %}current-item{% endif %}"">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endcomment %}
  </div>
</div>
